

{%- assign block_settings = block.settings -%}

{% capture title %}
  {% content_for 'block', id: 'heading', type: '_heading', text: article.title %}
{% endcapture %}

{% capture details %}
  {% content_for 'block',
    id: 'blog-post-details',
    type: '_blog-post-info-text',
    alignment: block_settings.alignment,
    article: article
  %}
{% endcapture %}

{% capture description %}
  {% content_for 'block', id: 'content', type: '_blog-post-description', article: article, show_read_more: true %}
{% endcapture %}

<div
  class="blog-post-card"
  style="--text-align: {{ block_settings.alignment }}"
>
  {%- if article.image -%}
    <div class="blog-post-card__image-container">
      <a href="{{ article.url }}">
        {% content_for 'block', id: 'image', type: '_blog-post-image', image: article.image %}
      </a>
    </div>
  {%- endif -%}

  <div class="blog-post-card__content">
    {% comment %} {%- if article.tags.size > 0 -%}
      <div class="blog-post-card__category">
        {{ article.tags.first | upcase }}
      </div>
    {%- endif -%} {% endcomment %}
    
    <a href="{{ article.url }}">{{ title }}</a>

    {{ details }}

    {{ description }}
  </div>
</div>

{% stylesheet %}
  .blog-post-card {
    display: flex;
    flex-direction: column;
    text-align: var(--text-align);
    height: 100%;
  }

  .blog-post-card__content {
    padding-block-start: 0.4rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .blog-post-item .blog-post-card__image-container,
  .blog-post-item .blog-post-card__content {
    width: 100%;
    padding: 0.5rem;
  }

  /* .blog-post-item:first-child .blog-post-card {
    flex-direction: row;

    @media screen and (max-width: 749px) {
      flex-direction: column;
    }
  }

  .blog-post-item:first-child .blog-post-card__image-container {
    width: 70%;

    @media screen and (max-width: 749px) {
      width: 100%;
    }
  } */

  /* .blog-post-item:first-child:has(.blog-post-card__image-container) .blog-post-card__content {
    padding-inline-start: var(--columns-gap);
    width: 30%;

    @media screen and (max-width: 749px) {
      padding-inline-start: 0;
      width: 100%;
    }
  } */

  .blog-post-card__content a {
    display: block;
    text-wrap: pretty;
    text-decoration: none;
    padding-block-start: 0.75rem;
    color: black;
  }

  .blog-post-card__content a:hover,
  .blog-post-card__content a:hover [style*='--color: var(--color-primary)'] {
    color: var(--color-primary-hover);
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground-heading)'] {
    color: rgb(var(--color-foreground-heading-rgb) / var(--opacity-subdued-text));
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground)'] {
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }

  /* Styling for blogs-articles cards */
  .blog-post-item-articles .blog-post-card__content {
    padding: 1rem;
    width: 50%;
  }

  .blog-post-item-articles .blog-post-card__content a {
    padding-block-start: 0.5rem;
  }

  .blog-post-card__category {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  /* Title styling for blogs-articles */
  .blog-post-item-articles .blog-post-card__content a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
    margin-bottom: 0.75rem;
  }

  .blog-post-item-articles .blog-post-card__content a:hover {
    color: #666;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_post",
  "settings": [
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "left"
    }
  ]
}
{% endschema %}
